footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
footer .logo{
    color: #6370ff;
}
footer .footer_nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
footer .footer_nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: #818181;
    font-size: 14px;
}
.copyright{
    color: #818181;
}
.copyright span{
    color: #6370ff;
}